body {
	font-family: "Lato", sans-serif;
	color: white;
	background-color: rgba(75,136,203,1);
	font-size: 2rem;
	font-weight: 300;
	width: 100%;
}

footer {
	font-size: 1.5rem;
	color: white;
}

h1 {
	font-weight: 300;
	margin-top: 5px;
	font-size: 2.5rem;
	color: white;
	text-indent: -9000px;
}

h2 {
	text-align: center;
}

h3 {
	font-weight: 600;
	font-size: 2rem;
	text-align: center;
}

.tagline {
	margin-top:0;
	font-size: .8rem;
	font-style: italic;
}

.headerBlock {
	display: inline-block;
	margin: 10px;
}

#memberPhotoResize {
    width: 150px; /* you can use % */
    height: auto;
}

.select2-hidden-accessible {
	font-family: "Lato", sans-serif;
	color: black;
	background-color: white;
}

.select2-hidden-accessible, .select2-results, .select2-search, .select2-search--dropdown {
	color: black;
}

 
/*div {
	border: 1px solid white;
}*/

.main_body {
	width: 960px;
	height: 600px;
	border: 1px solid white;
	margin: 0 auto;
}

.container {
	border: none;
}


/* Additional styles*/

.title {
	margin: 0 auto;
	height: auto;
	width: auto;
}

.contact_info {
	float: right;
	padding: 5px;
	font-weight: 300;
}

.space_between_title_search {
	height: 40px;
}

.spacer {
	height: 50px;
}

.nav_button {
	color: white;
	padding: 5px;
}

#memberPhoto img {
	border-radius: 10px;
}
/*.contact_info {
	font-size: .7rem;
	background-color: rgb(245,255,227);
	color: black;
}*/

.contentWrapper {
	background-color: rgb(245,255,227);
	color: black;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 15px;
	font-size: 1.9rem;
}

.hide_section {
	display: none;
}



.subcommittee {
	padding-left: 30px;
}


h2 {
	margin-top: 0px;
}

#info-btn {
	border: none;
	background: transparent;
	margin: 20px;
	color: rgb(245,255,227);
}

.photoInfo {
	border: 1px solid white;
	background-color: rgba(115,113,113,.6);
	color: white;
	font-weight: 700;
	border-radius: 5px;
	margin: 15px;
	float: right;
	width: 300px;
	height: auto;
	padding: 10px;
}

.footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}

.dropDownWrap {
	  width:100%;
	  height:auto;
	  margin:0 0 10px 0;
	  background-color: rgb(245,255,227);
	  color: black;
	  font-family: "Lato", sans-serif;
	  font-weight: 300;
	  font-size: 1.5rem;
	  display:none;
	  box-shadow:inset 0 3px 5px rgba(0,0,0,0.1);
}

#helpInfo {
	width: 38%;
	display: inline-block;
	padding: 10px 0px 10px 0px;
	text-align: center;
	margin-right: 10px;
}

#helpInfo ul {
	list-style: none;
}

#siteInfo {
	width: 58%;
	display: inline-block;
	padding: 10px 0px 10px 0px;
}

#selector_div {
	width: 400px;
}

.member_selector {
	width: 400px;
}

#memberDCPhone, #memberDCFax, #memberWebsite, #memberTwitter, #memberFacebook, #memberYouTube {
	color: black;
}

/* 
@media (min-width:320px) { smartphones, iPhone, portrait 480x320 phones  }
@media (min-width:481px) { portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  }
@media (min-width:641px) { portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  }
@media (min-width:961px) {  tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) { big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) {  hi-res laptops and desktops  }

*/

/* Smaller phone screens */

@media all and (min-width: 320px) {
	.photoInfo {
		display: none;
	}

	.footer: {
		display: none;
	}

	.member_selector {
		width: 250px;
	}

	h1 {
		font-size: 8rem;
	}
 
 	#logo {
 		width: 250px;
 		height: auto;

 	}
}


/* Phones and portrait tables */

@media all and (min-width: 641px) {
	.container {
		border: none;
	}

	#memberPhoto {
		padding-top: 5px;
		padding-right: 15px;
		padding-bottom: 15px;
		float: left;
	}

	.photoInfo {
		display: none;
	}


	.member_selector {
		width: 320px;
	}

	.footer {
		display: none;
	}

	h1 {
		font-size: 12rem;
	}
 
 	#logo {
 		width: 300px;
 		height: auto;

 	}
}


/*
@media all and (max-width: 961px) {

	.photoInfo {
		display: none;
	}

}
*/
/* Desktop and landscape tablet*/

@media all and (min-width: 961px) {
	h1 {
		font-size: 8rem;
	}

	.footer {
		display: inline-block;

	}

	.photoInfo: {
		display: inline-block;
	}

	body {
		background: url('../images/idaho_hot_springs.jpg');
		background-repeat: none;
		background-size: 100%;
		background-color: rgba(255,255,255,.2);
		height: 100%;
		width: 100%;
	}

}